.logement_container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    .logement {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 25px auto;
        .logement_header {
          display: flex;
          flex-direction: column;
    
          .logement_title {
            font-size: 36px;
            color: #ff6060;
            font-weight: 500;
          }
          .logement_location {
            font-size: 18px;
            color: #ff6060;
            font-weight: 500;
          }
        }
      }
      .logement_host {
        display: flex;
        align-items: center;
       p {
          width: 70px;
          color: #ff6060;
          text-align: right;
        }
        img {
          margin-left: 10px;
          width: 64px;
          height: 64px;
          border-radius: 50px;
        }
      }
      .logement_tags_stars {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .tags {
          display: flex;
          flex-direction: row;
  
        .logement_tag {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 115px;
            height: 25px;
            padding: 0px 30px;
            margin-right: 10px;
            background-color: #ff6060;
            color: #ffffff;
            list-style: none;
            text-align: center;
            border-radius: 10px;
            transition: transform 0.4s ease-out;
            &:hover {
              transform: scale(1.05);
            }
          }
        }
        .log_stars_host{
          display: block;
        
          .logement_stars {
          position: relative;
          .star {
            width: 24px;
            margin-left: 16px;
          }
        }
      
        .logement_host_mobile {
          display: none;
        }
      }
  }
    .logement_accordion_container{
      display: flex;
      justify-content: space-between;

      .accordion_container {
        max-width: 582px;
        width: 50%;
        margin-right: 30px;
        
        .accordion {
          width: 582px;
          
        }
        .accordion_content{
          width: 582px;
          min-height: 249px;
          padding: 40px 12px 0px 20px;
          font-size: 18px;
          .logement_equipement {
            list-style: none;
            .equipement {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
}

@media screen and (max-width: 1210px) {
  .logement_container {
    max-width: 1210px;
    .logement_accordion_container{
      .accordion_container {
        .accordion {
          width: 100%;
        }
        .accordion_content{
           width: 100%;
          .logement_equipement {
            .equipement {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
}
}
@media screen and (max-width:700px) {
  .logement_container {
    .logement {
      padding: 0 20px;
      .logement_header {
        .logement_title {
          font-size: 18px;
        }
        .logement_location {
          font-size: 14px;
        }
      }

      .logement_host {
        display: none;
      }
    }
      .logement_tags_stars {
         flex-direction: column;
         
         .tags {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          padding-bottom: 16px;
         }
        .log_stars_host {
          width: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items:flex-start;

          .logement_stars {
            padding-left: 20px;
            padding-top: 22px;
            display: block;
            
            .star {
              width: 24px;
              margin-left: 0;
              margin-right: 7px;
              
            }
          }
        
          .logement_host_mobile {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 20px;
            p {
              width: 70px;
              text-align: right;
              font-size: 18px;
              color: #ff6060;
            }
            img {
              width: 64px;
              height:64px;
              margin-left: 10px;
              border-radius: 50px;
            }
          }
        }
      }
    
      .logement_accordion_container{
        flex-direction: column;
        .accordion_container {
          margin: 0 auto;
          width: 100%;
          padding: 0 20px;
          .accordion {
            width: 100%;
          }
          .accordion_content{
        
          min-height: 145px;
          padding-top: 33px;
          padding-bottom: 15px;
          width: auto;
          font-size: 18px;
          }
          }
        }
      }
  }
  @media screen and (max-width:480px) {
    .logement_container {
      .logement {
        padding: 0 20px;
        .logement_header {
          .logement_title {
            font-size: 18px;
          }
          .logement_location {
            font-size: 14px;
          }
        }
  
        .logement_host {
          display: none;
        }
      }
        .logement_tags_stars {
           flex-direction: column;
           
           .tags {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 10px;
            font-style: 500;
            padding-bottom: 16px;
           }
          .log_stars_host {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items:flex-start;
  
            .logement_stars {
              padding-left: 20px;
              padding-top: 5px;
              display: block;
              
              .star {
                width: 16px;
                margin-left: 0;
                margin-right: 7px;
                
              }
            }
          
            .logement_host_mobile {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding-right: 20px;
              p {
                width: 70px;
                text-align: right;
                font-size: 12px;
                color: #ff6060;
              }
              img {
                width: 32px;
                height:32px;
                margin-left: 10px;
                border-radius: 50px;
              }
            }
          }
        }
      
        .logement_accordion_container{
          flex-direction: column;
          .accordion_container {
            margin: 0 auto;
            width: 100%;
            padding: 0 20px;
            height: auto;
            .accordion {
              width: 100%;
            }
            .accordion_content{
          
          height: auto;
            padding-top: 33px;
            padding-bottom: 15px;
            width: auto;
            font-size: 12px;
            }
            }
          }
        }
    }
