.kasa-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  max-width: 1240px;
  width: 100%;
  margin: auto;
  img {
    animation: Headerleft 1.4s forwards;
  }
 }
.kasa-nav {
    animation: Headerright 1.4s forwards;
    ul {
      display: flex;
      flex-direction: row;
      gap: 57px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #ff6060;
          font-size: 24px;
          font-weight: 500;
        }
        .nav-active {
          border-bottom: 1px solid #ff6060;
        }
      }
    }
  }
  
  @keyframes Headerleft {
    0% {
      transform: translateX(-120px);
      visibility: hidden;
    }
    100% {
      transform: translateX(0);
      visibility: visible;
    }
  }
  @keyframes Headerright {
    0% {
      transform: translateX(120px);
      visibility: hidden;
    }
    100% {
      transform: translateX(0);
      visibility: visible;
    }
  }
  @media screen and (min-width: 425px) and (max-width: 1024px) {
    .kasa-header {
      max-width: 1024px;
      width: auto;
      margin: 0 20px;
      img {
        width: 30%;
      }
    }
    .kasa-nav {
      ul {
        li {
          a {
            font-size: 18px;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 480px) {
    .kasa-header {
      max-width: 425px;
      width: auto;
      margin: 0 20px;
  
      img {
        width: 40%;
      }
    }
    .kasa-nav {
      ul {
        gap: 10px;
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
  