.kasa-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  max-width: 1240px;
  width: 100%;
  margin: auto;
//   img {
//     animation: Headerleft 1.4s forwards;
//   }
 }
.kasa-nav {
    // animation: Headerright 1.4s forwards;
    ul {
      display: flex;
      flex-direction: row;
      gap: 57px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #ff6060;
          font-size: 24px;
          font-weight: 500;
        }
        .nav-active {
          border-bottom: 1px solid #ff6060;
        }
      }
    }
  }
  
  // @keyframes Headerleft {
  //   0% {
  //     transform: translateX(-120px);
  //     visibility: hidden;
  //   }
  //   100% {
  //     transform: translateX(0);
  //     visibility: visible;
  //   }
  // }