*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

$color-primary : #fff;
$color-secondary : #FF6060;
$color-tertiary : #F6F6F6;